.sprite{
            display: inline-block;
            background: url("Proyecto Rpg\imagenes\chico_abajo1.png")
            no-repeat;
            width: 60px;
            height: 100px;
            background-position: 0px 0;
            animation:move 1s steps(4)infinite;
}

@keyframes move {
            to{
                        background-position: -256px 0;
            }
}